body{


    height: 100vh;
    margin: 0;
}



header{

grid-area: H;
background-color: blue;

}
main{

grid-area: M;
background-color: aqua;

}

aside{
grid-area: A;
background-color: aquamarine;

}

footer{
grid-area: F;
background-color: chocolate;
}

#container{

display:grid;
height: 100%;
grid-template-columns: 25% 50% 25%;
grid-template-rows:25% 50% 25%;
grid-template-areas: 

". H ."
". A ."
"F F F";




}


@media screen and (max-width:800px ){



    #container{
grid-template-columns: 25% 50% 25% ;
grid-template-rows: 100% 100% 100% 100%;



grid-template-areas: 


". H ."
"M M M"
"F F F"
"F F F";

    }
 }


