body{


    height: 100vh;
    margin: 0;
   
}



header{

grid-area: H;
background-color: rgb(4, 4, 4);
color:rgb(249, 250, 250);
text-align: center;

}
main{

grid-area: M;
background-color: rgb(68, 0, 255);

}

aside{
grid-area: A;
background-color: rgb(90, 221, 13);

}

footer{
grid-area: F;
background-color: chocolate;
}
section{

grid-area: S;
background-color: rgb(253, 253, 252);
li {
  margin-bottom: 50px;
  text-align: center;
}


}

#container{

display:grid;
height: 100%;
grid-template-columns: 25% 40% 35%;
grid-template-rows:25% 189.5% 25%;
grid-template-areas: 

"H H H"
"A A S"
"F F F";



}


@media screen and (max-width:800px ){



    #container{
grid-template-columns: 25% 50% 25% ;
grid-template-rows: 100% 100% 100% 100%;



grid-template-areas: 


". H ."
"M M M"
"F F F"
"F F F";

    }

    .responsive {
  width: 100%;
  height: auto;
}


 }


